* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

header {
  display: flex;
  border: 1px solid #ddd;
  justify-content: center;
  align-items: center;
  margin: 0.3rem .3rem 0 .3rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

header img {
  width: 4rem;
}

header h1 {
  font-weight: normal;
  padding-left: 0.3rem;
}

form {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: 4rem;
}

form input {
  width: 30em;
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: .5rem;
  margin-right: 0.5rem;
}

form button {
  padding: 0.5rem 2rem;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: .5rem;
  cursor: pointer;
  transition: all .3s;
}

form button:hover {
  transform: scale(1.04);
}

.input-error {
  text-align: center;
  margin-top: 0.5rem;
  color: #f77676;
}

.container {
  /* margin-inline:auto; */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 3rem 2rem;
}

.container ul {
  margin-top: 1.5rem;
}

.container ul li {
  margin: 1.5rem 2.5rem;
  color: #666;
}